@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

// Fonts
$family-sans-serif: "Roboto Serif", sans-serif;

// Tags
//a {
//    color: #000 !important;
//}

// Mobile
@media(max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
    .hidden-scrollbar {
        overflow: hidden;
    }
}


@import "../node_modules/bulma/bulma.scss";