{% extends 'base.html' %}

{% block body %}
<header>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
    </nav>
    <h1>{{title}}</h1>
</header>
<main>
    <blockquote>
        <p>Los precios que se visualizan es la evolución del dolar en el transcurso del año 2023</p>
    </blockquote>
    <table class="data_table">
        <tr>
            <th>Fecha</th>
            <th>Venta</th>
            <th>Compra</th>
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.date}}</td>
            <td>{{d.value_sell}}</td>
            <td>{{d.value_buy}}</td>
        </tr>
        {% endfor %}
    </table>
</main>
<footer>
    <p>Pagina creada por Mario Mori (AlopexMM)</p>
</footer>
{% endblock %}