<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>App for testing</strong> por <a href="https://alopexmm.ar">Mario Mori (AlopexMM)</a>. El codigo se encuentra bajo licencia
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>