<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/beer-shop">Tienda de cervezas</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
                <a class="button is-primary" href="/beer-shop/signup">
                    <strong>Inscribirse</strong>
                </a>
                <% if(login) { %>
                    <a class="button is-light" href="/beer-shop/logout">Salir</a>
                <% } else { %>
                    <a class="button is-light" href="/beer-shop/login">Ingresar</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>