.data_table {
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}

.product {
    display: flex;
    flex-direction: column;
}

.imgproduct {
    size: 30px;
}