<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <section class="section">
        <div class="container">
            <form action="/beer-shop/login" method="post">
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Nombre" name="name">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Apellido" name="lastname">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
    <script src="js/shop.js" type="text/javascript"></script>
</body>
</html>