<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/beer_shop/nav.ejs') %>
    <section class="section">
        <div class="container">
            <form action="/beer-shop/signup" method="post">
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Nombre" name="name">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Apellido" name="lastname">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="text" class="input" placeholder="Dirección" name="address">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="number" class="input" placeholder="Código postal" name="postalCode">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary">Inscribirse</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
</body>
</html>